@using Entities.Concrete
@model List<Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Çalışanlarımız</h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <thead class="table table-dark table-bordered">
        <tr>
            <th>
                Personel Id
            </th>
            <th>
                Personel Adı
            </th>
            <th>
                Personel Soyadı
            </th>
            <th>
                Sil
            </th>
            <th>
                Güncelle
            </th>
        </tr>
    </thead>
    <tbody class="table table-bordered table-hover">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.EmployeeId
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    <a href="/Employee/EmployeeDelete/@item.EmployeeId" class="btn btn-danger">Sil</a>
                </td>
                <td>
                    <a href="/Employee/EmployeeBring/@item.EmployeeId" class="btn btn-primary">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Employee/EmployeeAdd" class="btn btn-danger">Yeni Personel</a>



